/*
Syntax error: Undefined variable: "$photographyColor".
        on line 38 of D:/My Dropbox/monochrome/bioviral/src/bioviralBACKUPOld.scss

Backtrace:
D:/My Dropbox/monochrome/bioviral/src/bioviralBACKUPOld.scss:38
C:/Ruby/lib/ruby/gems/1.8/gems/haml-3.0.1/lib/sass/script/variable.rb:39:in `_perform'
C:/Ruby/lib/ruby/gems/1.8/gems/haml-3.0.1/lib/sass/script/node.rb:61:in `perform'
C:/Ruby/lib/ruby/gems/1.8/gems/haml-3.0.1/lib/sass/tree/prop_node.rb:132:in `perform!'
C:/Ruby/lib/ruby/gems/1.8/gems/haml-3.0.1/lib/sass/tree/node.rb:301:in `_perform'
C:/Ruby/lib/ruby/gems/1.8/gems/haml-3.0.1/lib/sass/tree/node.rb:209:in `perform'
C:/Ruby/lib/ruby/gems/1.8/gems/haml-3.0.1/lib/sass/tree/node.rb:322:in `perform_children'
C:/Ruby/lib/ruby/gems/1.8/gems/haml-3.0.1/lib/sass/tree/node.rb:322:in `map'
C:/Ruby/lib/ruby/gems/1.8/gems/haml-3.0.1/lib/sass/tree/node.rb:322:in `perform_children'
C:/Ruby/lib/ruby/gems/1.8/gems/haml-3.0.1/lib/sass/tree/node.rb:313:in `perform!'
C:/Ruby/lib/ruby/gems/1.8/gems/haml-3.0.1/lib/sass/tree/rule_node.rb:188:in `perform!'
C:/Ruby/lib/ruby/gems/1.8/gems/haml-3.0.1/lib/sass/tree/node.rb:301:in `_perform'
C:/Ruby/lib/ruby/gems/1.8/gems/haml-3.0.1/lib/sass/tree/node.rb:209:in `perform'
C:/Ruby/lib/ruby/gems/1.8/gems/haml-3.0.1/lib/sass/tree/node.rb:322:in `perform_children'
C:/Ruby/lib/ruby/gems/1.8/gems/haml-3.0.1/lib/sass/tree/node.rb:322:in `map'
C:/Ruby/lib/ruby/gems/1.8/gems/haml-3.0.1/lib/sass/tree/node.rb:322:in `perform_children'
C:/Ruby/lib/ruby/gems/1.8/gems/haml-3.0.1/lib/sass/tree/node.rb:313:in `perform!'
C:/Ruby/lib/ruby/gems/1.8/gems/haml-3.0.1/lib/sass/tree/rule_node.rb:188:in `perform!'
C:/Ruby/lib/ruby/gems/1.8/gems/haml-3.0.1/lib/sass/tree/node.rb:301:in `_perform'
C:/Ruby/lib/ruby/gems/1.8/gems/haml-3.0.1/lib/sass/tree/node.rb:209:in `perform'
C:/Ruby/lib/ruby/gems/1.8/gems/haml-3.0.1/lib/sass/tree/node.rb:322:in `perform_children'
C:/Ruby/lib/ruby/gems/1.8/gems/haml-3.0.1/lib/sass/tree/node.rb:322:in `map'
C:/Ruby/lib/ruby/gems/1.8/gems/haml-3.0.1/lib/sass/tree/node.rb:322:in `perform_children'
C:/Ruby/lib/ruby/gems/1.8/gems/haml-3.0.1/lib/sass/tree/node.rb:313:in `perform!'
C:/Ruby/lib/ruby/gems/1.8/gems/haml-3.0.1/lib/sass/tree/rule_node.rb:188:in `perform!'
C:/Ruby/lib/ruby/gems/1.8/gems/haml-3.0.1/lib/sass/tree/node.rb:301:in `_perform'
C:/Ruby/lib/ruby/gems/1.8/gems/haml-3.0.1/lib/sass/tree/node.rb:209:in `perform'
C:/Ruby/lib/ruby/gems/1.8/gems/haml-3.0.1/lib/sass/tree/node.rb:322:in `perform_children'
C:/Ruby/lib/ruby/gems/1.8/gems/haml-3.0.1/lib/sass/tree/node.rb:322:in `map'
C:/Ruby/lib/ruby/gems/1.8/gems/haml-3.0.1/lib/sass/tree/node.rb:322:in `perform_children'
C:/Ruby/lib/ruby/gems/1.8/gems/haml-3.0.1/lib/sass/tree/node.rb:313:in `perform!'
C:/Ruby/lib/ruby/gems/1.8/gems/haml-3.0.1/lib/sass/tree/rule_node.rb:188:in `perform!'
C:/Ruby/lib/ruby/gems/1.8/gems/haml-3.0.1/lib/sass/tree/node.rb:301:in `_perform'
C:/Ruby/lib/ruby/gems/1.8/gems/haml-3.0.1/lib/sass/tree/node.rb:209:in `perform'
C:/Ruby/lib/ruby/gems/1.8/gems/haml-3.0.1/lib/sass/tree/node.rb:322:in `perform_children'
C:/Ruby/lib/ruby/gems/1.8/gems/haml-3.0.1/lib/sass/tree/node.rb:322:in `map'
C:/Ruby/lib/ruby/gems/1.8/gems/haml-3.0.1/lib/sass/tree/node.rb:322:in `perform_children'
C:/Ruby/lib/ruby/gems/1.8/gems/haml-3.0.1/lib/sass/tree/node.rb:313:in `perform!'
C:/Ruby/lib/ruby/gems/1.8/gems/haml-3.0.1/lib/sass/tree/root_node.rb:59:in `perform!'
C:/Ruby/lib/ruby/gems/1.8/gems/haml-3.0.1/lib/sass/tree/node.rb:301:in `_perform'
C:/Ruby/lib/ruby/gems/1.8/gems/haml-3.0.1/lib/sass/tree/node.rb:209:in `perform'
C:/Ruby/lib/ruby/gems/1.8/gems/haml-3.0.1/lib/sass/tree/root_node.rb:37:in `perform'
C:/Ruby/lib/ruby/gems/1.8/gems/haml-3.0.1/lib/sass/tree/root_node.rb:29:in `render'
C:/Ruby/lib/ruby/gems/1.8/gems/haml-3.0.1/lib/sass/engine.rb:160:in `render'
C:/Ruby/lib/ruby/gems/1.8/gems/haml-3.0.1/lib/haml/util.rb:242:in `silence_haml_warnings'
C:/Ruby/lib/ruby/gems/1.8/gems/haml-3.0.1/lib/sass/engine.rb:160:in `render'
C:/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.0/lib/compass/compiler.rb:103:in `compile'
C:/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.0/lib/compass/logger.rb:43:in `red'
C:/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.0/lib/compass/compiler.rb:102:in `compile'
C:/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.0/lib/compass/compiler.rb:93:in `compile_if_required'
C:/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.0/lib/compass/compiler.rb:84:in `run'
C:/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.0/lib/compass/compiler.rb:82:in `each'
C:/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.0/lib/compass/compiler.rb:82:in `run'
C:/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.0/lib/compass/commands/watch_project.rb:92:in `recompile'
C:/Ruby/lib/ruby/site_ruby/1.8/rubygems/custom_require.rb:31
C:/Ruby/lib/ruby/gems/1.8/gems/haml-3.0.1/vendor/fssm/lib/fssm/path.rb:71:in `call'
C:/Ruby/lib/ruby/gems/1.8/gems/haml-3.0.1/vendor/fssm/lib/fssm/path.rb:71:in `run_callback'
C:/Ruby/lib/ruby/gems/1.8/gems/haml-3.0.1/vendor/fssm/lib/fssm/path.rb:54:in `callback_action'
C:/Ruby/lib/ruby/gems/1.8/gems/haml-3.0.1/vendor/fssm/lib/fssm/path.rb:30:in `create'
C:/Ruby/lib/ruby/gems/1.8/gems/haml-3.0.1/vendor/fssm/lib/fssm/state/directory.rb:23:in `created'
C:/Ruby/lib/ruby/gems/1.8/gems/haml-3.0.1/vendor/fssm/lib/fssm/state/directory.rb:23:in `each'
C:/Ruby/lib/ruby/gems/1.8/gems/haml-3.0.1/vendor/fssm/lib/fssm/state/directory.rb:23:in `created'
C:/Ruby/lib/ruby/gems/1.8/gems/haml-3.0.1/vendor/fssm/lib/fssm/state/directory.rb:15:in `refresh'
C:/Ruby/lib/ruby/gems/1.8/gems/haml-3.0.1/vendor/fssm/lib/fssm/backends/polling.rb:17:in `run'
C:/Ruby/lib/ruby/gems/1.8/gems/haml-3.0.1/vendor/fssm/lib/fssm/backends/polling.rb:17:in `each'
C:/Ruby/lib/ruby/gems/1.8/gems/haml-3.0.1/vendor/fssm/lib/fssm/backends/polling.rb:17:in `run'
C:/Ruby/lib/ruby/gems/1.8/gems/haml-3.0.1/vendor/fssm/lib/fssm/backends/polling.rb:15:in `loop'
C:/Ruby/lib/ruby/gems/1.8/gems/haml-3.0.1/vendor/fssm/lib/fssm/backends/polling.rb:15:in `run'
C:/Ruby/lib/ruby/gems/1.8/gems/haml-3.0.1/vendor/fssm/lib/fssm/monitor.rb:24:in `run'
C:/Ruby/lib/ruby/gems/1.8/gems/haml-3.0.1/vendor/fssm/lib/fssm.rb:17:in `monitor'
C:/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.0/lib/compass/commands/watch_project.rb:61:in `perform'
C:/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.0/lib/compass/commands/base.rb:18:in `execute'
C:/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.0/lib/compass/commands/project_base.rb:19:in `execute'
C:/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.0/lib/compass/exec/sub_command_ui.rb:38:in `perform!'
C:/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.0/lib/compass/exec/sub_command_ui.rb:15:in `run!'
C:/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.0/bin/compass:26
C:/Ruby/bin/compass:19:in `load'
C:/Ruby/bin/compass:19
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$photographyColor\".\A         on line 38 of D:/My Dropbox/monochrome/bioviral/src/bioviralBACKUPOld.scss"; }
