/*
Syntax error: Undefined variable: "$photographyColor".
        on line 38 of F:/My Dropbox/monochrome/bioviral/src/bioviralBACKUPOld.scss

Backtrace:
F:/My Dropbox/monochrome/bioviral/src/bioviralBACKUPOld.scss:38
C:/Ruby192/lib/ruby/gems/1.9.1/gems/haml-3.0.18/lib/sass/script/variable.rb:39:in `_perform'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/haml-3.0.18/lib/sass/script/node.rb:61:in `perform'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/haml-3.0.18/lib/sass/tree/prop_node.rb:132:in `perform!'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/haml-3.0.18/lib/sass/tree/node.rb:305:in `_perform'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/haml-3.0.18/lib/sass/tree/node.rb:213:in `perform'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/haml-3.0.18/lib/sass/tree/node.rb:326:in `block in perform_children'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/haml-3.0.18/lib/sass/tree/node.rb:326:in `map'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/haml-3.0.18/lib/sass/tree/node.rb:326:in `perform_children'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/haml-3.0.18/lib/sass/tree/node.rb:317:in `perform!'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/haml-3.0.18/lib/sass/tree/rule_node.rb:191:in `perform!'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/haml-3.0.18/lib/sass/tree/node.rb:305:in `_perform'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/haml-3.0.18/lib/sass/tree/node.rb:213:in `perform'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/haml-3.0.18/lib/sass/tree/node.rb:326:in `block in perform_children'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/haml-3.0.18/lib/sass/tree/node.rb:326:in `map'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/haml-3.0.18/lib/sass/tree/node.rb:326:in `perform_children'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/haml-3.0.18/lib/sass/tree/node.rb:317:in `perform!'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/haml-3.0.18/lib/sass/tree/rule_node.rb:191:in `perform!'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/haml-3.0.18/lib/sass/tree/node.rb:305:in `_perform'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/haml-3.0.18/lib/sass/tree/node.rb:213:in `perform'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/haml-3.0.18/lib/sass/tree/node.rb:326:in `block in perform_children'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/haml-3.0.18/lib/sass/tree/node.rb:326:in `map'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/haml-3.0.18/lib/sass/tree/node.rb:326:in `perform_children'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/haml-3.0.18/lib/sass/tree/node.rb:317:in `perform!'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/haml-3.0.18/lib/sass/tree/rule_node.rb:191:in `perform!'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/haml-3.0.18/lib/sass/tree/node.rb:305:in `_perform'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/haml-3.0.18/lib/sass/tree/node.rb:213:in `perform'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/haml-3.0.18/lib/sass/tree/node.rb:326:in `block in perform_children'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/haml-3.0.18/lib/sass/tree/node.rb:326:in `map'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/haml-3.0.18/lib/sass/tree/node.rb:326:in `perform_children'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/haml-3.0.18/lib/sass/tree/node.rb:317:in `perform!'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/haml-3.0.18/lib/sass/tree/rule_node.rb:191:in `perform!'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/haml-3.0.18/lib/sass/tree/node.rb:305:in `_perform'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/haml-3.0.18/lib/sass/tree/node.rb:213:in `perform'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/haml-3.0.18/lib/sass/tree/node.rb:326:in `block in perform_children'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/haml-3.0.18/lib/sass/tree/node.rb:326:in `map'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/haml-3.0.18/lib/sass/tree/node.rb:326:in `perform_children'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/haml-3.0.18/lib/sass/tree/node.rb:317:in `perform!'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/haml-3.0.18/lib/sass/tree/root_node.rb:59:in `perform!'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/haml-3.0.18/lib/sass/tree/node.rb:305:in `_perform'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/haml-3.0.18/lib/sass/tree/node.rb:213:in `perform'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/haml-3.0.18/lib/sass/tree/root_node.rb:37:in `perform'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/haml-3.0.18/lib/sass/tree/root_node.rb:29:in `render'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/haml-3.0.18/lib/sass/engine.rb:196:in `_render'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/haml-3.0.18/lib/sass/engine.rb:168:in `block in render'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/haml-3.0.18/lib/haml/util.rb:289:in `silence_haml_warnings'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/haml-3.0.18/lib/sass/engine.rb:168:in `render'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.10.5/lib/compass/compiler.rb:103:in `block in compile'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.10.5/lib/compass/logger.rb:43:in `red'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.10.5/lib/compass/compiler.rb:102:in `compile'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.10.5/lib/compass/compiler.rb:93:in `compile_if_required'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.10.5/lib/compass/compiler.rb:84:in `block in run'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.10.5/lib/compass/compiler.rb:82:in `each'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.10.5/lib/compass/compiler.rb:82:in `run'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.10.5/lib/compass/commands/watch_project.rb:92:in `recompile'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/haml-3.0.18/vendor/fssm/lib/fssm/path.rb:71:in `call'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/haml-3.0.18/vendor/fssm/lib/fssm/path.rb:71:in `run_callback'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/haml-3.0.18/vendor/fssm/lib/fssm/path.rb:54:in `callback_action'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/haml-3.0.18/vendor/fssm/lib/fssm/path.rb:34:in `update'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/haml-3.0.18/vendor/fssm/lib/fssm/state/directory.rb:32:in `block in modified'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/haml-3.0.18/vendor/fssm/lib/fssm/state/directory.rb:31:in `each'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/haml-3.0.18/vendor/fssm/lib/fssm/state/directory.rb:31:in `modified'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/haml-3.0.18/vendor/fssm/lib/fssm/state/directory.rb:16:in `refresh'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/haml-3.0.18/vendor/fssm/lib/fssm/backends/polling.rb:17:in `block (2 levels) in run'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/haml-3.0.18/vendor/fssm/lib/fssm/backends/polling.rb:17:in `each'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/haml-3.0.18/vendor/fssm/lib/fssm/backends/polling.rb:17:in `block in run'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/haml-3.0.18/vendor/fssm/lib/fssm/backends/polling.rb:15:in `loop'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/haml-3.0.18/vendor/fssm/lib/fssm/backends/polling.rb:15:in `run'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/haml-3.0.18/vendor/fssm/lib/fssm/monitor.rb:24:in `run'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/haml-3.0.18/vendor/fssm/lib/fssm.rb:17:in `monitor'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.10.5/lib/compass/commands/watch_project.rb:61:in `perform'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.10.5/lib/compass/commands/base.rb:18:in `execute'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.10.5/lib/compass/commands/project_base.rb:19:in `execute'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.10.5/lib/compass/exec/sub_command_ui.rb:38:in `perform!'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.10.5/lib/compass/exec/sub_command_ui.rb:15:in `run!'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.10.5/bin/compass:26:in `<top (required)>'
C:/Ruby192/bin/compass:19:in `load'
C:/Ruby192/bin/compass:19:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$photographyColor\".\A         on line 38 of F:/My Dropbox/monochrome/bioviral/src/bioviralBACKUPOld.scss"; }
