div#navigation {
  position: absolute;
  right: 0px;
  width: 300px;
  height: 100px;
  background-color: red;
  text-align: right;
}
div#navigation h1 {
  font-size: 1em;
  weight: 800;
}
div#navigation a {
  font-size: 1em;
  display: block;
}
