@import "vars.scss";

#playScroller {
	margin: 0 0 0 220px;
	position: absolute;
	
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	.derecha {
		margin: 0 0 0 50%;
		position: absolute;
		width: 50%;
		height: 100%;
		
		.top {
			width: 100%;
			height: 320px;
			position: absolute;
		}
		.bottom {
			margin: 320px 0 0 0;
			height: 100%;
			width: 100%;
			position: absolute;
		}
		.topOn {
			background-image: url('../img/derechaTop.png');
		}
		.bottomOn {
			background-image: url('../img/derechaBottom.png');
		}
		
	}
	.izquierda {
		position: absolute;
		width: 35%;
		height: 100%;
		
		.top {
			width: 100%;
			height: 320px;
			position: absolute;
		}
		.bottom {
			margin: 320px 0 0 0;
			height: 100%;
			width: 100%;
			position: absolute;
		}
		.topOn {
			background-image: url('../img/izquierdaTop.png');
		}
		.bottomOn {
			background-image: url('../img/izquierdaBottom.png');
		}
	}
	
	.centro {
		position: absolute;
		margin: 0 0 0 35%;
		width: 15%;
		height: 100%;

	}
	
	.derechaOn {
		background-image: url('../img/derechaOn.png');
	}
	
	.izquierdaOn {
		background-image: url('../img/izquierdaOn.png');
	}
}